body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.made {
  position: relative;
  bottom: 400px;
  left: 306px;
  font-size: 40px;
  font-weight: bold;
}
#calculator {
  background-color: rgba(0, 0, 0, 0.822);
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  right: 45px;
}
#display {
  width: 100%;
  background-color: rgba(32, 30, 30, 0.822);
  border: none;
  padding: 35px;
  color: white;
  font-size: 24px;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
#keys button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: rgba(26, 23, 23, 0.8);
  cursor: pointer;
}
#keys button:hover {
  background-color: rgba(26, 23, 23, 0.6);
}
#keys button:active {
  background-color: rgba(26, 23, 23, 0.1);
}
#keys .operator-btn {
  background-color: hsla(39, 100%, 52%, 0.9);
}
#keys .operator-btn:hover {
  background-color: hsla(39, 100%, 60%, 0.901);
}
#keys .operator-btn:active {
  background-color: hsla(39, 100%, 80%, 0.901);
}
